.nav-block {
    margin: 0;
    width: 100%;
    padding: 18px 0;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.nav-block_vertical {
    display: flex;    
    flex-direction: column;
    height: 79.5%;
    margin: 27% 0 0;
    gap: 28px;
}

.nav-block__container {
    margin: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
}

.nav-block__container_vertical {
    flex-direction: column;
}

.nav-block__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.nav-block__menu_vertical {
    flex-direction: column;
    gap: 29px;
}

.nav-block__menu-item {
    margin: 0;
    text-decoration: none;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    transition: opacity .2s ease;
}

.nav-block__menu-item:hover {
    cursor: pointer;
    opacity: .7;
    transition: opacity .2s ease;
}

.nav-block__menu-item_active {
    font-weight: 500;
}

.nav-block__menu-button {
    display: none;
    cursor: pointer;
}

.nav-block__account-group {
    text-decoration: none;
    transition: opacity .2s ease;
}

.nav-block__account-group:hover {
    cursor: pointer;
    opacity: .8;
    transition: opacity .2s ease;
}

.nav-block__account {
    margin: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    border-radius: 40px;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}

.nav-block__text {
    margin-left: 11px;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 12px;
}

.nav-block__icon {
    padding: 7.8px;
    width: 14px;
    border-radius: 50px;
    background-color: transparent;
    object-fit: contain;
    object-position: center;
}

@media screen and (max-width: 800px) {
    .nav-block {
        padding: 18px 0;
    }

    .nav-block__container {
        justify-content: flex-end;
        width: 100%;
    }

    .nav-block__menu {
        display: none;
    }

    .nav-block__menu_vertical {
        display: flex;
    }

    .nav-block__menu-item {
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
    }

    .nav-block__menu-item_active {
        padding-bottom: 3px;
        border-bottom: 2px solid #FFFFFF;
    }
    
    .nav-block__menu-button {
        display: block;
        border: none;
        background-color: transparent;
        margin: 0;
        padding: 0;
        width: 40px;
    }

    .nav-block__menu-button_vertical {
        display: none;
    }

    .nav-block__menu-button img {
        object-fit: contain;
        object-position: center;
    }

    .nav-block__account-group {
        display: none;
    }

    .nav-block__account-group_vertical {
        display: unset;
    }
}

@media screen and (max-width: 400px) {
    .nav-block {
        padding: 19px 0;
    }

    .nav-block_vertical {
        height: 82%;
        margin-top: 39%;
    }

    .nav-block__menu_vertical {
        gap: 24px;
    }

    .nav-block__menu-button {
        width: 40px;
    }

    .nav-block__menu-button img {
        width: 35px;
    }
}