.techs {
    margin: 0;
    width: 100%;
    background-color: #272727;
}

.techs__container {
    margin: 0 auto;
    padding: 100px 0;
    width: 89%;
    max-width: 1140px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.techs__title {
    margin: 0;
    padding: 0 0 23px;
    align-self: stretch;
    border-bottom: 1px solid #DADADA;
    text-align: left;
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
}

.techs__subtitle {
    margin: 90px 0 26px;
    padding: 0;
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
}

.techs__text {
    margin: 0;
    padding: 0;
    max-width: 460px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.56px;
}

.techs__list {
    margin: 100px 0 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.techs__list-item {
    margin: 0;
    padding: 21px 14px;
    border-radius: 10px;
    background-color: #303030;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
}

@media screen and (max-width: 800px) {
    .techs__container {
        width: 87%;
        padding: 90px 0;
    }

    .techs__subtitle {
        margin: 80px 0 22px;
    }

    .techs__text {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.48px;
    }

    .techs__list {
        margin-top: 83px;
    }

    .techs__list-item {
        font-size: 12px;
        letter-spacing: -0.48px;
    }
}

@media screen and (max-width: 530px) {
    .techs__title {
        border-bottom-color: #000000;
    }

    .techs__list {
        margin-top: 50px;
        grid-template: repeat(4, 1fr)/repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .techs__container {
        width: 90.625%;
        padding: 68px 0 70px;
    }

    .techs__title {
        padding: 0 0 28px;
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .techs__subtitle {
        margin: 60px 0 25px;
        font-size: 30px;
        line-height: normal;
        letter-spacing: -1.2px;
    } 

    .techs__text {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -0.44px;
    }
}